html {
    font-family: "Figtree Medium";
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    background-color: hsl(47, 88%, 63%);
}
.bubble {
    background-color: hsl(47, 88%, 63%);
    padding: 10px;
    max-width: 65px;
    border-radius: .3em;
}

p {
    font-family: "Figtree Light";
}

h2 {
    font-family: "Figtree ExtraBold";
}
#mozzila {
    text-decoration: none;
    color: black;
}
#mozzila:hover {
    color: hsl(47, 88%, 63%);
}
#Greg {
    float: left;
    width: 10%;
}
#card {

    background-color: white;
    max-width: 19rem;
    padding: 1.5rem;

    border-style: solid;
    border-radius: 1rem;
    border-width: .1rem;
    border-color: black;
    box-shadow: black .5rem .5rem 0rem;
    margin: 20rem auto auto auto;
}

#Graphic {
    width: max-content;
    border-radius: .9em;
}

h4 {
    padding: 0 0 0 3em;
}